<div id="backimage" style="background:url(<%=@image.url%>); background-size: cover; background-position: center center;">
</div>

<section>
  <div></div>
  <div class="container centered">
    <div class="twelve columns">
      <h1 id="logo"><%= @quote.content %></h1>
      <p id="logo">&mdash;<%= @quote.author %></p>
      <h2 id="logo"><a class="button" href="/">Go Back</a></h2>
    </div>
  </div>
</section>