<div id="backimage" style="background:url(<%=@image.url%>); background-size: cover; background-position: center center;">


<section>
  <div class="container centered">
    <div class="twelve columns">
      <h1 class="quote" contenteditable><%= @quote.content %></h1>
      <h3 class="quote" contenteditable>&mdash;<%= @quote.author %></h3>
      <h2 id="logo"><a class="button" href="/inspiration">Inspire Me</a></h2>
>>>>>>> c6fc82858c840ac72c0464ef3b17da20c47ad867
    </div>
  </div>
</section>
</div>

