<head></head>

 <body onload="document.getElementById(fade).style.opacity='1'" background= <%=@inspireimage%>>
  <h1>Do or do not. There is no try.</h1>

 <div class="container">
   <div class="sixteen columns">
      <div class="four columns offset-by-six">
        <a class="button" href="/">Go Back</a>
      </div>
    </div>
  </div>
</body>



