<head></head>

 <body background= <%=@inspireimage%>>
  <h1 class="quote"><%= @quote.content %>
  <p>- <%= @quote.author %></p></h1>

 <div class="container">
    <div class="row">

        <div class="inspirebutton">
          <a class="button" href="/">Go Back</a>
        </div>

    </div>
  </div>
</body>



