<head></head>

 <body background= <%=@inspireimage%>>
  <h1 class="quote">Cool quote here.</h1>

 <div class="container">
    <div class="row">

        <div class="inspirebutton">
          <a class="button" href="/">Go Back</a>
        </div>

    </div>
  </div>
</body>



