<div id="backimage" style="background:url(<%=@image.url%>); background-size: cover; background-position: center center;">
</div>

<section>
  <div class="container centered">
    <div class="twelve columns" id="quote">
      <h1 class="quote_text"><%= @quote.content %></h1>
      <p class="quote_text">&mdash;<%= @quote.author %></p>
      <h2 id="quote_button"><a class="button" href="/inspiration">Inspire Me</a></h2>
    </div>
  </div>
</section>