
<meta name="viewport" content="initial-scale=1">

 
 <h1 id="main">
 <img src="images/InspiragramLogo.png" alt="Inspiragram" />
 </h1>
 <div class="container">
  <div class="row">
    <div class="twelve columns">
    <h4 class="centered"> 
      <a class="button" href="/inspiration">Inspire Me</a>
    </h4>
   </div>
  </div>

<div class="container">
  <div id="inspiration"></div>
  <div class="row">

      <h1>Inspiragram</h1>

      <div class="inspirebutton">
        <a class="button" href="/inspiration">Inspire Me</a>
      </div>

  </div>
</div>

