 <head></head>

 <body>
 <div class="container">
    <div class="row">

        <h1>Inspiragram</h1>

        <div class="inspirebutton">
          <a class="button" href="#">Inspire Me</a>
        </div>
        
    </div>
  </div>
</body>