 <head></head>

 <body>
 <h1 id="main">
 <img src="images/InspiragramLogo.png" alt="Inspiragram" />
 </h1>
 <div class="container">
  <div class="sixteen columns">
    <div class="four columns offset-by-six">
      <a class="button" href="/inspiration">Inspire Me</a>
    </div>
   </div>
</div>
</body>