


<section id="landing" class="hero u-full-width">
  <div></div>
  <div class="container centered">
    <div class="twelve columns">
      <h1 class="separator" id="logo"><img src="images/inspiragramlogo.png" alt="Inspiragram" /></h1>
      <h2 id="logo"><a class="button" href="/inspiration">Inspire Me</a></h2>
    </div>
  </div>
</section>



<!--   <h1 id="main">
 <img src="images/InspiragramLogo.png" alt="Inspiragram" />
 </h1>
 <div class="container">
  <div class="row">
    <div class="twelve columns">
    <h4 class="centered"> 
      <a class="button" href="/inspiration">Inspire Me</a>
    </h4>
   </div>
  </div>

<div class="container">
  <div id="inspiration"></div>
  <div class="row">

      <h1>Inspiragram</h1>

      <div class="inspirebutton">
        <a class="button" href="/inspiration">Inspire Me</a>
      </div>

  </div>
</div>
 -->
<!--
<div class="container">

 columns should be the immediate child of a .row -->
  <!--
  <div class="row">
    <div class="twelve columns">twelve</div> 
  </div>

  <div class="row">
    <div class="twelve columns">twelve</div> 
  </div>

  <div class="row">
    <div class="twelve columns">twelve</div> 
  </div>

  <div class="row">
    <div class="twelve columns">twelve</div> 
  </div>

  <div class="row">
    <div class="twelve columns">twelve</div> 
  </div>

  <div class="row">
    <div class="twelve columns">twelve</div> 
  </div>

  <div class="row">
    <div class="twelve columns">twelve</div> 
  </div>

  <div class="row">
    <div class="twelve columns">twelve</div> 
  </div>

  <div class="row">
    <div class="twelve columns">twelve</div> 
  </div>

</div>


</div>
