<section>
  <div></div>
  <div class="container centered">
    <div class="twelve columns">
      <h1 id="logo"><img src="/images/InspiragramLogo.png" alt="Inspiragram"/></h1>
      <h2 id="logo"><a class="button" href="/inspiration">Inspire Me</a></h2>
    </div>
  </div>
</section>




