<div class="container">
  <div id="inspiration"></div>
  <div class="row">

      <h1>Inspiragram</h1>

      <div class="inspirebutton">
        <a class="button" href="/inspiration">Inspire Me</a>
      </div>

  </div>
</div>
