<h1>Post a new Quote!</h1>
<hr/>

<% if @errors %>
  <h1><%= @errors %></h1>
<% end %>

<form method="post" action="/inspiration/new">
  <div>
    <label>Quote:</label>
    <input type="text" name="content" placeholder="Quote">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author" placeholder="Optional author">
  </div>
  <div>
    <input = type="submit" value="Submit">
  </div>
</form>